<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.snail.antifake"
>

    <application android:allowBackup="true"
                 android:supportsRtl="true">
        <service android:name=".jni.EmulatorCheckService"
                 android:process=":EmulatorCheckService"/>
    </application>

</manifest>
